@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0ea;
    font-family: "cabin", sans-serif;
}

header {
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center; 
    width: 100%; 
}

a {
    text-decoration: none;
}

p {
    color: #798252;
    font-size: 2rem;
}

p:hover {
    color: #93948e;
}

h1 {
    color: #798252;
}

footer {
    background-color: #331f19;
    color: #798252;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    color: #798252;
    margin: 0 10px;
    font-size: 30px;
    text-decoration: none;
}

.social-icon:hover {
    color: #c9d0a3; 
}