body {
    font-family: Arial, sans-serif;
    background-color: #331F19;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #CBBBA7;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

fieldset {
    border: none;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #331F19;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    border-color: #331F19;
    outline: none;
    background-color: #ffaa8d;
}

input[type="radio"] {
    margin-right: 8px;
    accent-color: #331F19;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

label {
    font-size: 16px;
    margin-left: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #60041A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #A34743;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    legend {
        font-size: 20px;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}