@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0ea;
    color: #798252;
    font-family: "cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    gap: 1.5rem;
}  

.card {
    box-sizing: border-box;
    width: 190px;
    height: 234px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

a {
    text-decoration: none;
}

h2 {
    color: #798252;
}